<footer>
  <section class="footsect secs">
    <div class="first-row">
      <p>
        The best Platform you will ever <br />
        need manage your Patients.
      </p>
      <img src="/assets/imgs/Vector.png" alt="" width="7%" />
      <img src="/assets/imgs/linkedin.png" alt="" width="7%" />
      <img src="/assets/imgs/ig.png" alt="" width="7%" />
    </div>
    <div class="second-row">
      <h3>
        Need Help? <br />
        <a href="">Contact a Doctor 
        <a href="">FAQS</a> <br />
        <a href="">FAQS</a> <br />
      </h3>
      <h3>
        Would you like to? <br />
        <a href="">Purchase Our Drip beep</a> <br />
        <a href="">Partner With US</a> <br />
      </h3>

      <h3>
        Contact Us <br />
        <a href="">Info@dripbeep.com</a> <br />
        <a href="">customer@dripbeep.com</a> <br />
        <a href="">Local HQ</a> <br />
      </h3>
    </div>
    <hr />
  </section>
  <div class="last-row secs">
    <div class="copy">
      <p>(c) 2022. All rights Reserved</p>
    </div>
  </div>
</footer>
<script src="/assets/js/main.js"></script>
