<section class="hero">
  <h1>
    When Minutes Matter, BE FAST.
    <br />
    To care givers, this it's usuaslly TIRESOME <br />
    going back and forth to check on PATIENTS DRIP LEVEL, isn't it?
  </h1>
  <p>
    Now you can monitor your patients drip level and make neccessarly plans to
    get it refilled removed without any hassle <br />
    A simple notification in your office or your mobile phone can save you the
    stress, and this time you will not be taken unawares
  </p>
  <button class="get-started">Get Started &neArr;</button>
  <button class="watch">
    Watch Demo <img src="/assets/imgs/auto_read_play.png" alt="" width="10%" />
  </button>
</section>
