<section class="hero">
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus <br />
    recusandae voluptate magnam
  </h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus <br />
    recusandae voluptate magn
  </p>
  <button class="get-started">Get Started &neArr;</button>
  <button class="watch">
    Watch Demo <img src="/assets/imgs/auto_read_play.png" alt="" width="10%" />
  </button>
</section>
