<main>
  <section class="section1 secs" id="sec1">
  <div class="access">
    <div class="img-box">
     
      <div class="elipse">
        <img src="/assets/imgs/Frame 3.png" alt="" class="one">
        <img src="/assets/imgs/Frame 86.png" alt="" class="two">
         <img src="/assets/imgs/img1.jpg" alt="" width="100%" class="box-img"> 
      </div>
    </div>
    <div class="ass-txts">
    <h2 class="ass">Meeting Patients <br> Needs</h2>
    <p>To better understand the unique needs of our customer, <br>
    we partner with medical Professionals to offer quick online <br> consultations via live chat</p>
    <a href="" class="learn">Learn more &nrarr;</a>
    </div>

  </section>
  <section class="section2 secs">
    <div class="reduce-risk">
    <div class="ass-txts ass2">
    <h2 class="ass ">Reduce Risk Of Fake <br> drug purchase</h2>
    <p>In order to protect our customer, vet  our Partners to <br>
    to follow approved guildlines for the purchase of drugs</p>
    <a href="" class="learn">Learn more &nrarr;</a>
    </div>


        <div class="img-box2">
      <div class="elipses">
        <img src="/assets/imgs/Frame 3.png" alt="" class="one1">
        <img src="/assets/imgs/Frame 86.png" alt="" class="two2">
<img src="/assets/imgs/pexels-anna-shvets-4421487.jpg" alt="" class="box-img2" width="100%">

      </div>
<!-- <img src="/assets/imgs/pexels-anna-shvets-4421487.jpg" alt="" class="acc-img"> -->
    </div>
    </div>
  </section>

  
</main>

 <script src="/assets/js/main.js"></script>