<nav>
  <div class="logo">
    <img src="/assets/imgs/Hello.png" alt="logo" />
  </div>
  <div class="nav-links">
    <a href="/home" class="links">Home</a>
    <a href="/about/about" class="links">About Us</a>
    <a href="/services/services" class="links">Services</a>
    <a href="/contact/contact" class="links">Contact Us</a>
  </div>
  <button class="sign-up">Sign Up</button>
  <img
    src="/assets/imgs/hand-bug.png"
    alt=""
    width="40%"
    class="img-hand-bug reveal"
  />
</nav>
<script src="/assets/js/main.js"></script>
<!-- handbugger -->
<div class="hand-bugger hidden">
  <a href="/home">Home</a>
  <a href="/about/about">About Us</a>
  <a href="/services/services">Services</a>
  <a href="/contact/contact">Contact Us</a>
  <img src="/assets/imgs/close2.png" alt="" class="img-hand-bug close" />
</div>
